@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --sl-text-h2: 1.5rem;
  --sl-text-h3: 1.25rem;
}

img.icon {
  display: inline;
  box-shadow: none;
  margin: 0;
  width: 26px;
  height: 26px;
  transform: translate(0, 40%);
  margin-top: -16px;
  margin-left: -4px;
  margin-right: -4px;
}

.rcg-tab {
  margin: 0;
}

.expressive-code button.cb-fullscreen__button {
  color: var(--ec-frm-inlBtnFg);
}

.site-title {
  color: var(--sl-color-white);
  gap: 10px;
}

.site-title img {
  width: 32px;
  height: 32px;
}

/* 
   Improve props table layout
*/
.sl-markdown-content table {
    font-size: 0.9rem;
}
.sl-markdown-content table code {
    font-size: 0.8rem;
}
.sl-markdown-content table tr td:has(code) {
    max-width: 140px;
}
.sl-markdown-content table tr td code {
    overflow-wrap: break-word;
}
