# Simple workflow for deploying static content to GitHub Pages
name: Deploy Shadcn Admin Kit

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main", "allow-versioning"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    env:
      VITE_CHATWOOT_URL: ${{ vars.VITE_CHATWOOT_URL }}
      VITE_CHATWOOT_WEBSITE_TOKEN: ${{ secrets.VITE_CHATWOOT_WEBSITE_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
      - name: Install dependencies
        run: pnpm i --frozen-lockfile
      - name: Build components
        run: make build

      - name: Update gh-page branch with latest registry files
        run: |
          mkdir -p /tmp/latest
          cp public/r/admin.json /tmp/latest/
          cp public/r/registry.json /tmp/latest/
          git stash
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git fetch origin gh-page
          git checkout gh-page
          cp /tmp/latest/admin.json public/r/
          cp /tmp/latest/registry.json public/r/
          git add -f public/r/admin.json public/r/registry.json
          git commit -m "Update latest registry files" || echo "No changes"
          git push origin gh-page
